<!DOCTYPE html>
<html>
<head>
<title>ExpensePilot Tracker</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="container">
<h1>Add Expense</h1>

<form method="POST" action="/add">

<select name="category_select">
<option>Food</option>
<option>Travel</option>
<option>Shopping</option>
<option>Bills</option>
</select>

<input type="number" name="amount_input" placeholder="Amount">

<input type="text" name="info" placeholder="Description">

<input type="date" name="date_input">

<button>Add Expense</button>
</form>

</div>
</body>
</html>
